
.card-columns{
  padding: 10px;
  margin-top: -1px;
  column-gap: 10px;
  .card{
    overflow: hidden;
    border: 0;
    margin-bottom: 5px;
    box-shadow: 0 2px 4px rgba(#000, 0.2);
  }
  @media (max-width: 575px) {
    column-count: 2;
    orphans: 1;
    widows: 1;
    .card{
      display: inline-block;
      width: 100%;
    }
  }
}

.card-product{
  &__star{
    position: absolute;
    right: 5px;
    top: 5px;
    color: #999;
  }
  &__img{
    text-align: center;
  }
  &__body{
    padding: 0.6rem 1rem;
    text-align: center;
  }
  &__name{
    font-weight: 400;
    font-size: 1.1rem;
  }
  &__price{
    small{
      margin-left: 0.5rem;
      color: red;
    }
  }
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
  }

  .price {
    color: grey;
    font-size: 22px;
  }

  .card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }

  .card button:hover {
    opacity: 0.7;
  }
